<link rel="stylesheet" href="../public/stylesheets/officina.css">
<link rel="stylesheet" href="../public/stylesheets/boot.css">
<link rel="stylesheet" href="/stylesheets/boot.css">
<link rel="stylesheet" href="/stylesheets/officina.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="grid-container">
        <div class="container">
            <div class="button-container"></div>
            <div class="navbar-container"></div>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">In attesa?</th>
                            <th scope="col">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>id_utente</td>
                            <td>nome</td>
                            <td>Sì</td>
                            <td><button class="btn btn-outline-primary">Accetta</button>
                                <button class="btn ">Rifiuta</button></td>
                        </tr>
                        <% for(var i=0; i<info.length; i++) {%>
                        <tr>
                            <th scope="row"></th>
                            <td><%= info[i].id_utente %></td>
                            <td><%= info[i].nome %></td>
                            <td><%= info[i].pending%> </td>
                            <td><button class="btn btn-outline-primary"
                                    onclick="accettaUtente('<%= info[i].id_utente%>','<%= info[i].nome %>',1)">Accetta</button>
                                <button class="btn"
                                    onclick="accettaUtente('<%= info[i].id_utente%>','<%= info[i].nome %>',0)">Rifiuta</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    </section>
</body>

<script>
    function accettaUtente(id_utente, nome, new_state) {
        alert(id_utente + nome + new_state)
    }
</script>